<!-- playlist_detail.html -->



{% block content %}
  <h2>{{ object.name }}</h2>
  <ul>
    {% for playlist_track in object.playlist_tracks.all %}
      <li>
        <form method="post" action="{% url 'change_track_order' object.pk %}">
          {% csrf_token %}
          <input type="hidden" name="track_id" value="{{ playlist_track.track.pk }}">
          {{ playlist_track.track.name }} - Order:
          <input type="number" name="order" value="{{ playlist_track.order }}" min="1">
          <button type="submit">Change Order</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'playlist_update' object.pk %}">Edit</a>
  <a href="{% url 'playlist_delete' object.pk %}">Delete</a>
  <a href="{% url 'playlist_list' %}">Back to playlists</a>
  <a href="{% url 'playlist_add_tracks' object.pk %}">Add Tracks</a>
{% endblock %}
