{% extends 'base.html' %}
{% load static %}
{% block title %}Tracks Dashboard{% endblock title %}
{% block body %}
    <h2 style="text-align: center;">404 not found</h2>
    {% if playlist %}
        <h4 style="text-align: center;">Playlist with uuid {{ playlist }} not found</h4>
        <h5 style="text-align: center;">may be deleted</h5>
    {% elif track %}
        <h4 style="text-align: center;">Track with uuid {{ track }} not found</h4>
        <h5 style="text-align: center;">may be deleted</h5>
    {% endif %}
{% endblock body %}