{% extends 'base.html' %}
{% load static %}
{% block title %}Tracks Dashboard{% endblock title %}
{% block body %}
    <div>
        <a href="{% url 'view_playlist' uuid=playlist.uuid %}">{{ playlist.name }}</a>
    </div>
    <p></p>
    <table id="tracks_data" class="tracks_class cell-border compact stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Album Name</th>
                <th>Artist Name</th>
                <th>Rank in Album</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tracks %}
                <tr id="track-{{item.uuid}}">
                    <td>{{item.name}}</td>
                    <td>{{item.album.name}}</td>
                    <td>{{item.album.artist.name}}</td>
                    <td>{{item.number}}</td>
                    <td class="dt-body-center">
                        <button type="button" onclick="addTrackToPlaylist(event)" class="btn btn-primary" data_uuid="{{item.uuid}}" data_playlist="{{playlist.uuid}}">Add</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
{% block script %}
    <script src="{% static 'js/library.js' %}"></script>
    <script type = "text/javascript">
        $(document).ready(function(){
            dataTable = $('#tracks_data').DataTable(
                {
                    "columnDefs": [{
                        "targets": 3,
                        "orderable": false
                    }],
                    lengthMenu: [20,50,100],
                }
            );
        })

        function addTrackToPlaylistCallback(event, response) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            console.log(`Track with uuid ${uuid} successfully added to Playlist with uuid ${playlist}`)
            document.querySelector(`#track-${uuid}`).remove()
        }

        function addTrackToPlaylist(event) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            apiRequest(
                `/api/v1/playlist/${playlist}/track/${uuid}`,
                'POST',
                event,
                addTrackToPlaylistCallback
            )
        }
    </script>
{% endblock script %}