{% extends 'base.html' %}
{% load static %}
{% block title %}Playlist Dashboard{% endblock title %}
{% block body %}
    <div>
        <a href="{% url 'view_playlist' uuid=playlist.uuid %}">{{ playlist.name }}</a>
    </div>
    <p></p>
    <a href="{% url 'add_tracks_to_playlist' uuid=playlist.uuid %}" style="float: right; margin: 10px;" class="btn btn-primary">Add Tracks</a>
    <table id="tracks_data" class="tracks_class cell-border compact stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rank</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item, rank in tracks %}
                <tr>
                    <td>{{item.name}}</td>
                    <td id="track_{{ forloop.counter }}_rank_in_playlist" contenteditable>{{rank}}</td>
                    <td class="dt-body-center">
                        <button type="button" onclick="modifyTrackRankInPlaylist(event)" class="btn btn-primary" data_uuid="{{item.uuid}}" data_playlist="{{playlist.uuid}}" data_new_rank="#track_{{ forloop.counter }}_rank_in_playlist">Save</button>
                        <button type="button" onclick="deleteTrackFromPlaylist(event)" class="btn btn-danger" data_uuid="{{item.uuid}}" data_playlist="{{playlist.uuid}}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}
{% block script %}
    <script src="{% static 'js/library.js' %}"></script>
    <script type = "text/javascript">
        $(document).ready(function(){
            dataTable = $('#tracks_data').DataTable(
                {
                    "columnDefs": [{
                        "targets": 2,
                        "orderable": false
                    }],
                    order: [[1, 'asc']],
                    lengthMenu: [10,20,50,100],
                }
            );
        })

        function modifyTrackRankInPlaylistCallback(event, response) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            console.log(`Rank of the track with uuid ${uuid} is modified successfully in Playlist with uuid ${playlist}`)
            location.reload()
        }

        function modifyTrackRankInPlaylist(event) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            const newRank = parseInt(document.querySelector(event.target.getAttribute("data_new_rank")).innerText)
            apiRequest(
                `/api/v1/playlist/${playlist}/track/${uuid}`,
                'PUT',
                event,
                modifyTrackRankInPlaylistCallback,
                {
                    "new_track_rank": newRank
                },
                {
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            )
        }

        function deleteTrackFromPlaylistCallback(event, response) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            console.log(`Track with uuid ${uuid} is deleted successfully from Playlist with uuid ${playlist}`)
            location.reload()
        }

        function deleteTrackFromPlaylist(event) {
            const uuid = event.target.getAttribute("data_uuid")
            const playlist = event.target.getAttribute("data_playlist")
            apiRequest(
                `/api/v1/playlist/${playlist}/track/${uuid}`,
                'DELETE',
                event,
                deleteTrackFromPlaylistCallback
            )
        }
    </script>
{% endblock script %}